src/nodejs/cannybox/nodered/flows_default.json
[{"type":"tab","id":"9b40750b.64bf88","label":"BlueBrain Core"},{"id":"b3d69ffd.4c296","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"false"},{"id":"8bfcd45.f740328","type":"websocket-listener","path":"/ws/cannybots","wholemsg":"false"},{"id":"8d53d654.72ac28","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"false"},{"id":"556b619d.aa94a","type":"twitter-credentials","screen_name":"@Cannybots_IoT"},{"id":"5b5ed0c5.a4a13","type":"websocket in","name":"WS Listener","server":"8bfcd45.f740328","x":68,"y":41,"z":"9b40750b.64bf88","wires":[["aab5408b.554ac"]]},{"id":"268bfeeb.d97402","type":"websocket out","name":"WS Sender","server":"8bfcd45.f740328","x":912,"y":221,"z":"9b40750b.64bf88","wires":[]},{"id":"a3fb18aa.5c04e8","type":"function","name":"Create Broadcast","func":"delete msg._session;\n//var json = JSON.stringify([msg.payload]);\nvar base64 = new Buffer(msg.payload).toString('base64');\nmsg.payload = base64;\nreturn msg;\n","outputs":1,"x":904,"y":107,"z":"9b40750b.64bf88","wires":[["268bfeeb.d97402"]]},{"id":"97053976.68fac8","type":"Cannybots","name":"CannybotMaze (ID=0)","address":"f0d4229cf809","x":510,"y":59,"z":"9b40750b.64bf88","wires":[["bba67664.445988","a2baf5a9.5d4508"]]},{"id":"aab5408b.554ac","type":"function","name":"Create Write Msg","func":"var payloadIn = JSON.parse(msg.payload);\n\naction = \"\";\ndata = \"\";\nbotId = 0;\n\t\nif ( 'botId' in payloadIn) {\n\tbotId = payloadIn.botId;\n}\n\nif ( 'hexBytes' in payloadIn) {\n    action = 'writeHex';\n    data = payloadIn.hexBytes;\n} else {\n   action = 'writeByteArray';\n    data = payloadIn.rawBytes;\n}\n\nmsg.payload = {\n'action': action,\n'data': data,\n'botId': botId\n}; \n\nreturn msg;","outputs":1,"x":233,"y":42,"z":"9b40750b.64bf88","wires":[["6ad471fb.952b9","71ff84a0.8e007c"]]},{"id":"6ad471fb.952b9","type":"debug","name":"","active":true,"console":"false","complete":"false","x":161,"y":162,"z":"9b40750b.64bf88","wires":[]},{"id":"bba67664.445988","type":"function","name":"Extract String","func":"if (msg.payload == undefined) {\n\treturn null;\n}\n\nif ( \"string\" in msg.payload) {\n\tdelete msg._session;\n\tmsg.payload = msg.payload['string'];\n\treturn msg;\n} else {\n\treturn null;\n}\n\n","outputs":1,"x":694,"y":107,"z":"9b40750b.64bf88","wires":[["a3fb18aa.5c04e8"]]},{"id":"71ff84a0.8e007c","type":"switch","name":"Which botId?","property":"payload.botId","rules":[{"t":"eq","v":0,"v2":null},{"t":"eq","v":1,"v2":null},{"t":"else"}],"checkall":"false","outputs":3,"x":323,"y":142,"z":"9b40750b.64bf88","wires":[["97053976.68fac8"],["e8601c9e.179fe"],["bce6802f.43198"]]},{"id":"e8601c9e.179fe","type":"Cannybots","name":"Cannybot (ID=1)","address":"c17d9f9a4975","x":507,"y":185,"z":"9b40750b.64bf88","wires":[["bba67664.445988","5dc5d714.a23a28"]]},{"id":"5dc5d714.a23a28","type":"debug","name":"","active":true,"console":"false","complete":"false","x":676,"y":223,"z":"9b40750b.64bf88","wires":[]},{"id":"a2baf5a9.5d4508","type":"debug","name":"","active":true,"console":"false","complete":"false","x":685,"y":29,"z":"9b40750b.64bf88","wires":[]},{"id":"bce6802f.43198","type":"debug","name":"No BotID matched","active":true,"console":"true","complete":"true","x":506,"y":329,"z":"9b40750b.64bf88","wires":[]}]