src/nodejs/cannybox/nodered/flows_raspberrypi.json
[{"type":"tab","id":"9b40750b.64bf88","label":"BlueBrain Core"},{"type":"tab","id":"92027def.6dfd8","label":"Maze Solver"},{"type":"tab","id":"1b946ff8.e46b9","label":"Cannybots Temp Sensor"},{"id":"b3d69ffd.4c296","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"false"},{"id":"8bfcd45.f740328","type":"websocket-listener","path":"/ws/cannybots","wholemsg":"true"},{"id":"8d53d654.72ac28","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"false"},{"id":"556b619d.aa94a","type":"twitter-credentials","screen_name":"@Cannybots_IoT"},{"id":"5b5ed0c5.a4a13","type":"websocket in","name":"WS Listener","server":"8bfcd45.f740328","x":115,"y":90,"z":"9b40750b.64bf88","wires":[["19bd8397.e6427c"]]},{"id":"127761a8.ed889e","type":"serial out","name":"BlueBrain","serial":"b3d69ffd.4c296","x":516,"y":92,"z":"9b40750b.64bf88","wires":[]},{"id":"b5d17a69.4a2e88","type":"serial in","name":"BlueBrain","serial":"b3d69ffd.4c296","x":100,"y":166,"z":"9b40750b.64bf88","wires":[["a3fb18aa.5c04e8"]]},{"id":"268bfeeb.d97402","type":"websocket out","name":"WS Sender","server":"8bfcd45.f740328","x":578,"y":168,"z":"9b40750b.64bf88","wires":[]},{"id":"a3fb18aa.5c04e8","type":"function","name":"Create Broadcast","func":"delete msg._session;\nreturn msg;","outputs":1,"x":341,"y":167,"z":"9b40750b.64bf88","wires":[["268bfeeb.d97402"]]},{"id":"19bd8397.e6427c","type":"function","name":"Extract Bytes","func":"if ( msg.hasOwnProperty(\"rawBytes\") ) {\n\tvar bytes = msg.rawBytes;\t\n\tvar s = \"\";\n\t\n\tfor(var i=0,l=bytes.length; i<l; i++)\n\t    s += String.fromCharCode(bytes[i]);\n  \t\n\treturn {payload:s+\"\\r\"};\n\n} else {\n\treturn null;  // pass on no message\n}\n\n\n\n","outputs":1,"x":331,"y":92,"z":"9b40750b.64bf88","wires":[["127761a8.ed889e"]]},{"id":"2070eb7c.df8f14","type":"serial in","name":"Cannybot Maze Drone","serial":"b3d69ffd.4c296","x":108,"y":48,"z":"92027def.6dfd8","wires":[["fb72068f.048df8","83b639b8.7c49c8"]]},{"id":"a44bde4d.5bb42","type":"serial in","name":"BlueBrain","serial":"8d53d654.72ac28","x":87.42857360839844,"y":66.42857360839844,"z":"1b946ff8.e46b9","wires":[["1b05879.fe4fa78"]]},{"id":"b6ed4551.4912b8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":422.2857246398926,"y":267.857159614563,"z":"1b946ff8.e46b9","wires":[]},{"id":"d4de9d44.2b216","type":"twitter out","twitter":"556b619d.aa94a","name":"@Cannybots_IoT","x":718.8571662902832,"y":397.14288115501404,"z":"1b946ff8.e46b9","wires":[]},{"id":"1b05879.fe4fa78","type":"function","name":"Extract Command & Parameters","func":" if (msg.payload.indexOf(':')) {\n \t  var line = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\n      var words = line.split(\":\")\n      if (words.length >= 2) {\n        msg.payload = {};\n        msg.payload.command    = words[0];\n        msg.payload.parameters = words[1].split(\",\");\n        \n        return [msg];\n      }\n    }\nreturn msg;","outputs":"1","x":317,"y":66,"z":"1b946ff8.e46b9","wires":[["be94ddc4.416b2"]]},{"id":"be94ddc4.416b2","type":"switch","name":"Message Type?","property":"payload.command","rules":[{"t":"eq","v":"TEMP"}],"checkall":"true","outputs":1,"x":188.99999237060547,"y":167,"z":"1b946ff8.e46b9","wires":[["9f9234b9.606dc8"]]},{"id":"275786c.fd8a87a","type":"delay","name":"Rate Limit to 1msg/minute","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":484,"y":396.7142791748047,"z":"1b946ff8.e46b9","wires":[["d4de9d44.2b216"]]},{"id":"9f9234b9.606dc8","type":"template","name":"Temperature Message","field":"payload","template":"Current BlueBrain temperature is {{payload.parameters}}c","x":191.57142639160156,"y":267.7142734527588,"z":"1b946ff8.e46b9","wires":[["275786c.fd8a87a","b6ed4551.4912b8"]]},{"id":"fb72068f.048df8","type":"function","name":"Extract Line Status","func":" if (msg.payload.indexOf(':')) {\n \t  var line = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\n      var words = line.split(\":\")\n      if (words.length >= 2) {\n        msg.payload = {};\n        msg.payload.lineStatus    = words[1];\n        return [msg];\n      }\n    }\nreturn msg;","outputs":1,"x":391,"y":47,"z":"92027def.6dfd8","wires":[["c8ba68fe.374598"]]},{"id":"c8ba68fe.374598","type":"switch","name":"","property":"payload.lineStatus","rules":[{"t":"eq","v":"R"},{"t":"eq","v":"L"},{"t":"eq","v":"T"},{"t":"eq","v":"N"}],"checkall":"true","outputs":4,"x":264,"y":269,"z":"92027def.6dfd8","wires":[["27d76184.d8289e"],["cda149f7.325eb8"],["d9387dd3.26c78"],["2170a0d.fde8f6"]]},{"id":"1e0d69b1.e1f296","type":"serial out","name":"Cannybot Maze Drone","serial":"b3d69ffd.4c296","x":823,"y":277,"z":"92027def.6dfd8","wires":[]},{"id":"27d76184.d8289e","type":"function","name":"Handle Right Corner","func":"msg.payload = \"r\\r\";\nreturn msg;","outputs":1,"x":531,"y":168,"z":"92027def.6dfd8","wires":[["1e0d69b1.e1f296"]]},{"id":"cda149f7.325eb8","type":"function","name":"Handle Left Corner","func":"msg.payload = \"l\\r\";\nreturn msg;","outputs":1,"x":531,"y":237,"z":"92027def.6dfd8","wires":[["1e0d69b1.e1f296"]]},{"id":"83b639b8.7c49c8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":277,"y":105,"z":"92027def.6dfd8","wires":[]},{"id":"d9387dd3.26c78","type":"function","name":"Handle T-Junction","func":"if (Math.random() > 0.5) \n\tmsg.payload = \"l\\r\";\nelse \n\tmsg.payload = \"r\\r\";\nreturn msg;","outputs":1,"x":530,"y":308,"z":"92027def.6dfd8","wires":[["1e0d69b1.e1f296"]]},{"id":"2170a0d.fde8f6","type":"function","name":"Handle Off Line","func":"msg.payload = \"p\\r\";\nreturn msg;","outputs":1,"x":525,"y":380,"z":"92027def.6dfd8","wires":[["1e0d69b1.e1f296"]]}]