src/nodejs/cannybox/nodered/flows_raspberrypi.json
[{"type":"tab","id":"9b40750b.64bf88","label":"BlueBrain Core"},{"id":"b3d69ffd.4c296","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"false"},{"id":"8bfcd45.f740328","type":"websocket-listener","path":"/ws/cannybots","wholemsg":"true"},{"id":"5b5ed0c5.a4a13","type":"websocket in","name":"WS Listener","server":"8bfcd45.f740328","x":115,"y":90,"z":"9b40750b.64bf88","wires":[["19bd8397.e6427c"]]},{"id":"127761a8.ed889e","type":"serial out","name":"BlueBrain","serial":"b3d69ffd.4c296","x":516,"y":92,"z":"9b40750b.64bf88","wires":[]},{"id":"b5d17a69.4a2e88","type":"serial in","name":"BlueBrain","serial":"b3d69ffd.4c296","x":100,"y":166,"z":"9b40750b.64bf88","wires":[["a3fb18aa.5c04e8"]]},{"id":"268bfeeb.d97402","type":"websocket out","name":"WS Sender","server":"8bfcd45.f740328","x":515,"y":166,"z":"9b40750b.64bf88","wires":[]},{"id":"a3fb18aa.5c04e8","type":"function","name":"Create Broadcast","func":"delete msg._session;\nreturn msg;","outputs":1,"x":341,"y":167,"z":"9b40750b.64bf88","wires":[["268bfeeb.d97402"]]},{"id":"19bd8397.e6427c","type":"function","name":"Extract Bytes","func":"if ( msg.hasOwnProperty(\"rawBytes\") ) {\n\tvar bytes = msg.rawBytes;\t\n\tvar s = \"\";\n\t\n\tfor(var i=0,l=bytes.length; i<l; i++)\n\t    s += String.fromCharCode(bytes[i]);\n  \t\n\treturn {payload:s+\"\\r\"};\n\n} else {\n\treturn null;  // pass on no message\n}\n\n\n\n","outputs":1,"x":331,"y":92,"z":"9b40750b.64bf88","wires":[["127761a8.ed889e"]]}]