src/nodejs/cannybox/nodered/flows_default.json
[{"type":"tab","id":"9b40750b.64bf88","label":"BlueBrain Core"},{"id":"8bfcd45.f740328","type":"websocket-listener","path":"/ws/cannybots","wholemsg":"false"},{"id":"5b5ed0c5.a4a13","type":"websocket in","name":"WS Listener","server":"8bfcd45.f740328","x":68,"y":41,"z":"9b40750b.64bf88","wires":[["aab5408b.554ac","a6a52307.595ae"]]},{"id":"268bfeeb.d97402","type":"websocket out","name":"WS Sender","server":"8bfcd45.f740328","x":1057,"y":228,"z":"9b40750b.64bf88","wires":[]},{"id":"a3fb18aa.5c04e8","type":"function","name":"Create WS Broadcast","func":"delete msg._session;\n//var json = JSON.stringify([msg.payload]);\nvar base64 = new Buffer(msg.payload).toString('base64');\nmsg.payload = base64;\nreturn msg;\n","outputs":1,"x":788,"y":233,"z":"9b40750b.64bf88","wires":[["268bfeeb.d97402"]]},{"id":"aab5408b.554ac","type":"function","name":"Parse JSON","func":"var payloadIn = JSON.parse(msg.payload);\n\naction = \"\";\ndata = \"\";\nbotId = 0;\n\t\nif ( 'botId' in payloadIn) {\n\tbotId = payloadIn.botId;\n}\n\nif ( 'hexBytes' in payloadIn) {\n    action = 'writeHex';\n    data = payloadIn.hexBytes;\n} else {\n   action = 'writeByteArray';\n    data = payloadIn.rawBytes;\n}\n\nmsg.payload = {\n'action': action,\n'data': data,\n'botId': botId\n}; \n\nreturn msg;","outputs":1,"x":246,"y":43,"z":"9b40750b.64bf88","wires":[["71ff84a0.8e007c"]]},{"id":"bba67664.445988","type":"function","name":"Create Response","func":"if (msg.payload == undefined) {\n\treturn null;\n}\n\nif ( \"string\" in msg.payload) {\n\tdelete msg._session;\n\tmsg.payload = msg.payload['string'];\n\treturn msg;\n} else {\n\treturn null;\n}\n\n","outputs":1,"x":577,"y":234,"z":"9b40750b.64bf88","wires":[["a3fb18aa.5c04e8","26f66fbc.d9099"]]},{"id":"71ff84a0.8e007c","type":"switch","name":"Which botId?","property":"payload.botId","rules":[{"t":"eq","v":"0"},{"t":"eq","v":"1"},{"t":"eq","v":"2"},{"t":"eq","v":"3"},{"t":"else"}],"checkall":"false","outputs":5,"x":146,"y":254,"z":"9b40750b.64bf88","wires":[["6878f2d0.97870c"],[],[],[],["bce6802f.43198"]]},{"id":"bce6802f.43198","type":"debug","name":"No BotID matched","active":true,"console":"true","complete":"true","x":295,"y":488,"z":"9b40750b.64bf88","wires":[]},{"id":"a6a52307.595ae","type":"debug","name":"","active":true,"console":"false","complete":"false","x":141,"y":105,"z":"9b40750b.64bf88","wires":[]},{"id":"6878f2d0.97870c","type":"BlueBrain serial","name":"DefaultBot","bean":"","x":386,"y":234,"z":"9b40750b.64bf88","wires":[["bba67664.445988"]]},{"id":"26f66fbc.d9099","type":"debug","name":"","active":true,"console":"true","complete":"payload","x":766,"y":302,"z":"9b40750b.64bf88","wires":[]}]