src/nodejs/cannybox/nodered/flows_default.json
[{"type":"tab","id":"9b40750b.64bf88","label":"BlueBrain Core"},{"id":"b3d69ffd.4c296","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"false"},{"id":"8bfcd45.f740328","type":"websocket-listener","path":"/ws/cannybots","wholemsg":"false"},{"id":"8d53d654.72ac28","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"false"},{"id":"556b619d.aa94a","type":"twitter-credentials","screen_name":"@Cannybots_IoT"},{"id":"5b5ed0c5.a4a13","type":"websocket in","name":"WS Listener","server":"8bfcd45.f740328","x":68,"y":41,"z":"9b40750b.64bf88","wires":[["d4a277c7.2b5d88","aab5408b.554ac","99dcfb33.662308"]]},{"id":"268bfeeb.d97402","type":"websocket out","name":"WS Sender","server":"8bfcd45.f740328","x":863,"y":48,"z":"9b40750b.64bf88","wires":[]},{"id":"a3fb18aa.5c04e8","type":"function","name":"Create Broadcast","func":"delete msg._session;\nvar json = JSON.stringify([msg]);\nvar base64 = new Buffer(json).toString('base64');\nmsg.payload = base64;\nreturn msg;","outputs":1,"x":665,"y":46,"z":"9b40750b.64bf88","wires":[["268bfeeb.d97402","d84ecf88.27b13"]]},{"id":"d84ecf88.27b13","type":"debug","name":"","active":true,"console":"false","complete":"true","x":869,"y":120,"z":"9b40750b.64bf88","wires":[]},{"id":"97053976.68fac8","type":"Cannybots","name":"Cannybot","address":"ed3d1e5b23ea","x":464,"y":47,"z":"9b40750b.64bf88","wires":[["a3fb18aa.5c04e8"]]},{"id":"aab5408b.554ac","type":"function","name":"Create Write Msg","func":"var payloadIn = JSON.parse(msg.payload);\n\nmsg.payload = {\n'action':'writeByteArray',\n'data': payloadIn.rawBytes\n}; \n\nreturn msg;","outputs":1,"x":267,"y":43,"z":"9b40750b.64bf88","wires":[["97053976.68fac8"]]},{"id":"d4a277c7.2b5d88","type":"debug","name":"","active":true,"console":"false","complete":"true","x":245,"y":131,"z":"9b40750b.64bf88","wires":[]},{"id":"7b9feaf7.846014","type":"serial out","name":"BlueBrain","serial":"b3d69ffd.4c296","x":302,"y":225,"z":"9b40750b.64bf88","wires":[]},{"id":"99dcfb33.662308","type":"function","name":"Extract Bytes","func":"var payloadIn = JSON.parse(msg.payload);\n\nif ( payloadIn.hasOwnProperty(\"rawBytes\") ) {\n\tvar bytes = payloadIn.rawBytes;\t\n\tvar s = \"\";\n\t\n\tfor(var i=0,l=bytes.length; i<l; i++)\n\t    s += String.fromCharCode(bytes[i]);\n  \t\n\treturn {payload:s+\"\\r\"};\n\n} else {\n\treturn null;  // pass on no message\n}\n\n\n\n","outputs":1,"x":123,"y":224,"z":"9b40750b.64bf88","wires":[["7b9feaf7.846014"]]},{"id":"43f614a3.bc09ec","type":"serial in","name":"BlueBrain","serial":"b3d69ffd.4c296","x":470,"y":221,"z":"9b40750b.64bf88","wires":[["a3fb18aa.5c04e8"]]}]